body{
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.container{
  width: 100%;
  margin: 0 auto;
}
.main-header{
  background: white;
  width:100%;
  text-align: center;
}
.navigation,
.main-menu{
  display: flex;

  justify-content: flex-start;
  background-color: white;
  font-size: 16px;
  line-height: 30px;
}
.background-photo{
  position: relative;
  width: 1200px;
  text-align: center;
  margin-bottom: 60px;
}
.photo{
  position: absolute;
  right:720px;
  bottom:450px;
  text-align: center;
}

.main-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1200px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    margin-left:340px;
  }
  .main-nav{
    width: 93px;
    height: 12px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  text-decoration: none;
  }
  .logo{
    margin-left:119px;
    margin-right:129px;
  }
  .info-of-sedona{
  text-align: center;
  margin-left: 700px;
  margin-bottom: 56px;
  }
.text-info{
  width: 440px;
        height: 48px;
        font-size: 21px;
        font-weight: bold;
        font-style: normal;
        line-height: 1.24;
        text-align: center;
        letter-spacing: normal;
        color: #000000;
  }

  .text-info2{
    width: 489px;
  height: 13px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
  }

  .first-section{
  }
  .restaurant{
   left:760px;
    position: relative;
    width: 800px;
    height: 256px;
  }
  .super-text{
    text-align: center;
    position:absolute;
    width: 400px;
    height: 256px;
    background:#81b3d2;
    margin-left: 360px;
  }
  .info-of-locality{
    font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  }

.services{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  background-color: white;
  }
.project-text{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 18px;
  }
  .service-item{
    margin-left: 100px;
    width:300px;
    font-weight: normal;
  }
  .services2{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    background-color: #eeeeee;
    }
.bait{
  margin-top: 57px;
  margin-bottom:52px;
  text-align: center;
}
.main-text{
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.no-main-text{
  width: 489px;
  height: 13px;
  font-family: PTSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
}

}
  .modal-pop-up{
    display: none;
  }
  .social-button{
    display: flex;
    width: 46px;
    height: 48px;
    align-items: center;
    justify-content: center;
    background-color:#81b3d2;
    margin-left: 6px;
  }
  .footer-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    list-style: none;
    margin-right: 256px;
    margin-left: 228px;
  }
  .footer-menu ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: baseline;
    margin-left:256px;
    margin-right: 228px;
    padding: 0;
  }
  .visually-hidden{
    display: none;
  }
.text-container{
    display: flex;
    padding-left: 0;
    height:65px;
    margin-bottom: 75px;
    justify-content: baseline;
  }
.main-footer,
.footer-section{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: baseline;
}
.main-footer{
  margin-top: 30px;
}
.footer-text{
  width: 136px;
  height: 16px;
  font-family: PTSans;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.discount{
  width: 74px;
  height: 11px;
  font-family: PTSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-right: 8px;
}
.academy{
  position: relative;
  top: -7px
}
marker{
  position: relative;
  left:256px;
}
