body{
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.container{
  width: 100%;
  margin: 0 auto;
}
.main-header{
  background: white;
  width:100%;
  text-align: center;
}
.navigation,
.main-menu{
  display: flex;

  justify-content: flex-start;
  background-color: white;
  font-size: 16px;
  line-height: 30px;
}
.background-photo{
  position: relative;
  width: 1200px;
  text-align: center;
  margin-bottom: 60px;
}
.photo{
  position: absolute;
  right:720px;
  bottom:450px;
  text-align: center;
}

.main-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1200px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  margin-left: 340px;
  margin-bottom: 20px;
  }
  .main-nav{
    width: 93px;
    height: 12px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  text-decoration: none;
  }
  .logo{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 47%;
  }
  .info-of-sedona{
  text-align: center;
  margin-left: 700px;
  margin-bottom: 56px;
  }
.text-info{
  width: 440px;
        height: 48px;
        font-size: 21px;
        font-weight: bold;
        font-style: normal;
        line-height: 1.24;
        text-align: center;
        letter-spacing: normal;
        color: #000000;
  }

  .text-info2{
    width: 489px;
  height: 13px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
  }
  .restaurant{
   left:760px;
    position: relative;
    width: 800px;
    height: 256px;
  }
  .super-text{
    text-align: center;
    position:absolute;
    width: 400px;
    height: 256px;
    background:#81b3d2;
    margin-left: 360px;
  }
  .info-of-locality{
    font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  }

.services{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  background-color: white;
  }
.project-text{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 18px;
  }
  .service-item{
    margin-left: 100px;
    width:300px;
    font-weight: normal;
  }
  .services2{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    background-color: #eeeeee;
    }
.bait{
  margin-top: 57px;
  margin-bottom:52px;
  text-align: center;
}
.main-text{
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.no-main-text{
  width: 489px;
  height: 13px;
  font-family: PTSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
  margin: 0 auto;
}


  .modal-pop-up{
    display: none;
  }
  .social-button{
    display: flex;
    width: 46px;
    height: 48px;
    align-items: center;
    justify-content: center;
    background-color:#81b3d2;
    margin-left: 6px;
  }
  .footer-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    list-style: none;
    margin-right: 256px;
    margin-left: 228px;
  }
  .footer-menu ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: baseline;
    margin-left:256px;
    margin-right: 228px;
    padding: 0;
  }
  .visually-hidden{
    display: none;
  }
.text-container{
    display: flex;
    padding-left: 0;
    height:65px;
    margin-bottom: 75px;
    justify-content: baseline;
  }
.main-footer,
.footer-section{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: baseline;
}
.main-footer{
  margin-top: 30px;
}
.footer-text{
  width: 136px;
  height: 16px;
  font-family: PTSans;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.discount{
  width: 74px;
  height: 11px;
  font-family: PTSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-right: 8px;
}
.academy{
  position: relative;
  top: -7px
}
.section-map{
margin-left:200px;
}

.background-photo-2{
  position:relative;
}
.features{
  color:#ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: left;
  margin-right: 20px;
  opacity: 1;
}
.filter fieldset{
  border: white;
  margin:0;
}
.ul-filter{
  width: 139px;
  height: 199px;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 20px;
  border: none;
  display: flex;
  flex: wrap;
  justify-content: column;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 88px;
  left: 390px;
}
.filter-option {
  margin-bottom: 25px;
  color:white;
}
.filter-input:disabled + label{
  color:rgba(40, 49, 54, 0.3);
  opacity: 0.5;
}
.filter-button{
  font-weight: bold;
  color:white;
  background-color:#eeeeee;
  border: none;
}
.filter-option label{
  position: relative;
  display: block;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
  margin-right: 20px;
}
.filter-input-checkbox + label::before{
  content: "";
  position: absolute;
  left:0;
  top: 0;
  opacity: 1;
  width: 19px;
  height: 19px;
  border-radius: 4px;
  border:2px solid white;
}
.filter-input-checkbox + label:hover::before{
  opacity: 1;
}
.filter-input-checkbox:checked + label::before{
  opacity: 0;
}
.filter-input-checkbox:checked + label::after{
  content:" ";
  position: absolute;
  top: 0px;
  left: 0;
  width: 27px;
  height: 23px;
  opacity: 1;
  color: white;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
:active, :hover, :focus{
  outline: 0;
  outline-offset: 0;
}
.filter-input-checkbox + label:hover::after{
  opacity:1;
}
.filter-input-checkbox:hover:checked::before{
  opacity:1;
}
.sorts{
  margin-left:300px;
  margin-bottom: 64px;
}
.sort{
  display: flex;
  justify-content: flex-end;
  width:1200px;
  height: 40px;
  align-items: baseline;
  flex-wrap: wrap;
}
.sort-main{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-right: 40px;
  margin-left:49px;
}
.sort-text{
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  color: #000000;
}
.sort-item{
  border-bottom: 1px dotted #81b3d2;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  margin-right: 33px;
  text-decoration: none;
}
.first{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #81b3d2;
  margin-right: 33px;
  text-decoration: none;
}
.down{
  margin-left:30px;
  width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
  border-top: 11px solid #81b3d2;
  opacity: 0.3;
  margin-left:504px;
}
.up{
  margin-left: 16px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
	border-right: 6px solid transparent;
  border-top: 11px solid #81b3d2;
  transform: rotate(180deg);
  opacity: 1;
}
.product-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  margin-left:100px;

}
.product-item{
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin-bottom:37px;
  flex-wrap: wrap;
}
.hotel-name{
  height: 16px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color:black;
  text-decoration: none;
  list-style: none;
}
.hotel-info{
  display: flex;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #333333;
}
.hotel-button{
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  display: block;
  padding: 4px 2px;
  width:110px;
  height:22px;
  outline: none;
  color: #ffffff;
  text-align: center;
  background-color:#81b3d2;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 6px;
}
.hotel-button2{
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  display: block;
  padding: 4px 2px;
  width:142px;
  height: 22px;
  outline: none;
  color: #ffffff;
  text-align: center;
  background-color:#766357;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
}
.hotel{
  position: relative;
  top: 25px;
  margin-right: 30px;
  margin-left:200px;
}
.buttons{
display: flex;
}
.reit{
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  display: block;
  padding: 4px 2px;
  width:110px;
  outline: none;
  color: #666666;
  text-align: center;
  background-color:#f2f2f2;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  margin-top:52px;
}
.haip{
  width: 100px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.star{
  margin-top: 25px;
  margin-right: 6px;
}
.text{
  display: flex;
}
.inform1{
  margin-right: 39px;
}
.inform2{
  margin-right: 64px;
}
.inform3{
  margin-right: 21px;
}
.modal{
  position: fixed;
  color: #000000;
  background-color: #f8f3f0;
  background-position: 0 0;
}
.pop-up{
  z-index: 3;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  top: 200px;
  left: 50%;
  display: block;
  width: 568px;
  height: 481px;
  margin-left: -460px;
  padding: 38px 105px;
}
.form input{
  width: 360px;
  height:40px;
  border-radius:5px;
  border:2px solid #d7dcde;
  margin-top: 7px;
  margin-right:40px;
}


.modal-main-text{
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #ffffff;
  background-color: #766357;
  width: 568px;
  text-align: center;
  padding:35px 35px 35px 35px;
}
.line{
  width: 1200px;
  height: 2px;
  color:#a34343;
  margin-right: 200px;
}
